body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #7eb252;
}

.btn::after {
    position: absolute;
    content: url(../img/btn-arrow.png);
    right: 70px;
}

.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

/* HEADER */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__delivery {
    margin-left: 30px;
    font-size: 16px;
    color: #9a9a9a;
    margin-right: auto;
}

.header__phone-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__phone-link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #303030;
}

.header__phone-link::before {
    content: url(../img/tel.png);
    padding-right: 10px;
}

.header__phone-details {
    font-size: 12px;
    color: #9a9a9a;
}

/* PROMO */

.promo {
    background-image: url(../img/promo-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 100px;
}

.promo__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}

.promo__info {
    margin-top: 76px;
}

.promo__info-subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.promo__info-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 53px;
    line-height: 80px;
}

.promo__info-text {
    font-size: 18px;
    line-height: 24px;
    max-width: 500px;
    margin-bottom: 216px;
}

.promo__info-btn {
    padding: 27px 125px 23px 90px;
}

/* FACTS */

.facts__list {
    display: flex;
    justify-content: space-between;
    gap: 95px;
    margin-bottom: 200px;
}

.facts__item {
    max-width: 204px;
    position: relative;
    margin-top: 35px;
}

.facts__item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 5px solid #e4eddc;
    border-radius: 50%;
    top: -35px;
    left: -40px;
}

.facts__item-title {
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #a4c58c;
    border-bottom: 3px solid #a4c58c;
    margin-bottom: 30px;
}

.facts__item-title small {
    font-size: 30px;
}

/* DISIASES */

.disiases {
    background: linear-gradient(transparent 180px, #e4eddc 181px, #e4eddc 720px, transparent 721px);
    padding-bottom: 200px;
}

.disiases__inner {
    display: flex;
    justify-content: space-between;
}
.disiases__box {
    flex-basis: 650px;
}
.disiases__title {
    max-width: 448px;
    margin-top: 48px;
    margin-bottom: 45px;
}
.disiases__list {
    counter-reset: dis-counter;
}
.disiases__item {
    padding: 25px 44px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px solid #a4c58c;
}
.disiases__item::before {
    position: absolute;
    left: 0;
    /* content: "1"; */
    counter-increment: dis-counter;
    content: "0" counter(dis-counter) ".";
    color: #a4c58c;
    z-index: 1;
}
.disiases__item::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 3px solid #97b979;
    border-bottom: 3px solid #97b979;
    transform: rotate(-45deg);
    right: 30px;
    top: 43%;
    opacity: 0;
    transition: opacity 1s;
}
.disiases__item.active::after {
    opacity: 1;
}
.disiases__map {
    flex-basis: 500px;
    position: relative;
}
.disiases__map-img {
    margin-bottom: 50px;
}
.disiases__map small {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #a5c98a;
    border: 9px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.disiases__map small.active {
    opacity: 1;
}

.disiase-1 {
    top: 13%;
    left: 45%;
}
.disiase-2 {
    top: 31%;
    left: 36%;
}
.disiase-3 {
    top: 4%;
    left: 52%;
}
.disiase-4 {
    top: 24%;
    left: 45%;
}
.disiase-5 {
    top: 4%;
    left: 40%;
}
.disiase-6 {
    top: 45%;
    left: 40%;
}
.disiase-7 {
    top: 18.5%;
    left: 45%;
}
.disiases__btn {
    width: 500px;
    display: inline-block;
    padding: 30px 154px 30px 124px;
}
.disiases__btn::after {
    right: 115px;
}

/* FEATURES */

.features_inner {
    display: flex;
    gap: 70px;
    margin-bottom: 200px;
}
.features__photo-box {
    margin-left: -275px;
}
.features__photo-fig {
    position: relative;
}
.features__photo-img {
}
.features__photo-caption {
    position: absolute;
    padding: 20px;
    background-color: #fff;
    top: 480px;
    left: 285px;
}
.features__photo-text {
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 39px;
    border: 1px solid #97b979;
    background-color: #fff;
    max-width: 550px;
}
.features__photo-btn {
    padding: 30px 103px 30px 40px;
    top: 27px;
}
.features__info-box {
    padding-top: 50px;
    flex-basis: 500px;
}
.features__info-title {
    max-width: 370px;
    padding-bottom: 40px;
}
.features__info-subtitle {
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.features__info-list {
}
.features__info-item {
    padding: 27px 43px;
    position: relative;
}
.features__info-item::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 3px solid #97b979;
    border-bottom: 3px solid #97b979;
    transform: rotate(-45deg);
    left: 0;
    top: 43%;
}