body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.btn {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #7eb252;
}

.btn::after {
    position: absolute;
    content: url(../img/btn-arrow.png);
    right: 70px;
}

/* HEADER */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__delivery {
    margin-left: 30px;
    font-size: 16px;
    color: #9a9a9a;
    margin-right: auto;
}

.header__phone-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__phone-link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #303030;
}

.header__phone-link::before {
    content: url(../img/tel.png);
    padding-right: 10px;
}

.header__phone-details {
    font-size: 12px;
    color: #9a9a9a;
}

/* PROMO */

.promo {
    background-image: url(../img/promo-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 100px;
}

.promo__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}

.promo__info {
    margin-top: 76px;
}

.promo__info-subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.promo__info-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 53px;
    line-height: 80px;
}

.promo__info-text {
    font-size: 18px;
    line-height: 24px;
    max-width: 500px;
    margin-bottom: 216px;
}

.promo__info-btn {
    padding: 27px 125px 23px 90px;
}

/* FACTS */

.facts__list {
    display: flex;
    justify-content: space-between;
    gap: 95px;
    margin-bottom: 200px;
}

.facts__item {
    max-width: 204px;
    position: relative;
    margin-top: 35px;
}

.facts__item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 5px solid #e4eddc;
    border-radius: 50%;
    top: -35px;
    left: -40px;
}

.facts__item-title {
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #a4c58c;
    border-bottom: 3px solid #a4c58c;
    margin-bottom: 30px;
}

.facts__item-title small {
    font-size: 30px;
}

.facts__item-text {
}